:root {
    --font1: 'Rubik', sans-serif;
    --text-menu: #4a4a4a;
    --page-background-color: #3CDBC0;
    --text-title: #FFFFFF;
}

.header {
    width: 100vw;
    height: 12.5vh;

}
.logo-adalab {
    width: 155px;
    display: block;
    margin: 10px auto;
    box-sizing: border-box;

}

.menu {
    color: var(--text-menu);
    font-size: 16px;
}

.list {
    font-family: var(--font1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 13px;
    
}
.hero {
    width: 100vw;
    height: 90vh;
    background-color: var(--page-background-color); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: var(--font1);
    font-size: 30px;
    color: var(--text-title);
    font-weight: 700;
    text-align: center; 
    line-height: 1.2;
    word-spacing: 100vw;
  
 
  
    
}
